@font-face {
    font-family: 'Ubuntu';
    src: url("./assets/fonts/ubuntu-regular-webfont.woff2") format("woff2"), 
         url("./assets/fonts/ubuntu-regular-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu';
    src: url("./assets/fonts/ubuntu-medium-webfont.woff2") format("woff2"), 
         url("./assets/fonts/ubuntu-medium-webfont.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu';
    src: url("./assets/fonts/ubuntu-bold-webfont.woff2") format("woff2"), 
         url("./assets/fonts/ubuntu-bold-webfont.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    body {
        @apply font-Ubuntu;
    }
}